body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(224, 179, 140);
  height: 100vh;

  display: grid;
}

h1 {
  font-size: 40pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-style: italic;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}



.btn  {
  margin: 6px 12px;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  background-color: beige;
}

.side {
  width: 150px;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 10px;
  border-color: black;
  background-color: saddlebrown;
  
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-emphasis: ;
}
}

main {
  background-color: khaki;
}

footer {
  background-color: rgb(224, 179, 140;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}