body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(224, 179, 140);
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 5px;  /
}

nav, footer {
  grid-column: 1 / 3;
  grid-column: span 2;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  font-size: 20pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

aside {
  width: 200px;
  background-color: khaki);
}

.side {
  width: 150px;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 10px;
  border-color: black;
  background-color: saddlebrown;
  
  color: bisque;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: khaki;
}

footer {
  background-color: rgb(224, 179, 140;
}



.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}